// Import variables and mixins
@use "./variables" as *;
@use "./mixins" as *;

/* Global & Wrapper Styles */

html {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    color: #000;
    text-align: center;
}

body {
    font-size: 100%;
    @include mq('phablet'){
        font-size: 125%;
    }
}

header {
    padding-top: 30px;
}

section {
    height: 100%;
}

a {
    color: #0000EE;
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.changeColor {
    border: 1px solid #000;
    border-radius: 5px;
    background: greenyellow;
    color: #000;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding: 10px;
    transition: 0.1s;
}

.changeColor:hover,
.changeColor:focus {
    background: #000;
    color: greenyellow;
}

/* Colour classes */
.whiteBG {
    background-color: #FFF;
}

.hotDogMode {
    background-color: #C57B27;
}

.hotDogUl {
    background-color: #995F4C;
}

.ketchupLi {
    background-color: #CC2522;
}

.mustardLi {
    background-color: #E8AE02;
}