/* Initial setup file */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Mixins */ /* chatBox section styles */
/* Main chatbox styles */
ul {
  list-style: none;
  margin: 0;
  margin-top: 50px;
  padding: 20px;
  border: 4px solid #000;
  overflow: auto;
  min-height: 70vh;
  max-height: 75vh;
  height: 100%;
}
@media only screen and (min-width: 560px) {
  ul {
    margin: 0 auto;
    max-width: 70%;
    min-height: 40vh;
  }
}

li {
  color: #FFF;
  max-width: 80%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 35px;
  margin: 10px;
  border-radius: 8px;
  position: relative;
  overflow-anchor: none;
  scroll-margin: 20px;
}

/* message bubble styles - THANK YOU to Bubbly by Verou for help here https://projects.verou.me/bubbly/ */
.green {
  background-color: #43CC47;
  margin-left: auto;
  padding-right: 15px;
  text-align: right;
  min-width: 65%;
}

.blue {
  background-color: #1982FC;
  padding-left: 15px;
  text-align: left;
}

.blue:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-right-color: #1982FC;
  border-left: 0;
  margin-top: -16px;
  margin-left: -16px;
}

.green:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-left-color: #43CC47;
  border-right: 0;
  margin-top: -16px;
  margin-right: -16px;
}

.dotted-li {
  padding: 0;
  width: 100%;
  scroll-margin: -35px;
}

/* dot pulse styles - THANK YOU to Zongbin for templates here https://codepen.io/nzbin/pen/GGrXbp */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #1982FC;
  color: #1982FC;
  -webkit-box-shadow: 9999px 0 0 -5px;
          box-shadow: 9999px 0 0 -5px;
  -webkit-animation: dot-pulse 1.5s infinite linear;
          animation: dot-pulse 1.5s infinite linear;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #1982FC;
  color: #1982FC;
}

.dot-pulse::before {
  -webkit-box-shadow: 9984px 0 0 -5px;
          box-shadow: 9984px 0 0 -5px;
  -webkit-animation: dot-pulse-before 1.5s infinite linear;
          animation: dot-pulse-before 1.5s infinite linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.dot-pulse::after {
  -webkit-box-shadow: 10014px 0 0 -5px;
          box-shadow: 10014px 0 0 -5px;
  -webkit-animation: dot-pulse-after 1.5s infinite linear;
          animation: dot-pulse-after 1.5s infinite linear;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes dot-pulse-before {
  0% {
    -webkit-box-shadow: 9984px 0 0 -5px;
            box-shadow: 9984px 0 0 -5px;
  }
  30% {
    -webkit-box-shadow: 9984px 0 0 2px;
            box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    -webkit-box-shadow: 9984px 0 0 -5px;
            box-shadow: 9984px 0 0 -5px;
  }
}

@keyframes dot-pulse-before {
  0% {
    -webkit-box-shadow: 9984px 0 0 -5px;
            box-shadow: 9984px 0 0 -5px;
  }
  30% {
    -webkit-box-shadow: 9984px 0 0 2px;
            box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    -webkit-box-shadow: 9984px 0 0 -5px;
            box-shadow: 9984px 0 0 -5px;
  }
}
@-webkit-keyframes dot-pulse {
  0% {
    -webkit-box-shadow: 9999px 0 0 -5px;
            box-shadow: 9999px 0 0 -5px;
  }
  30% {
    -webkit-box-shadow: 9999px 0 0 2px;
            box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    -webkit-box-shadow: 9999px 0 0 -5px;
            box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    -webkit-box-shadow: 9999px 0 0 -5px;
            box-shadow: 9999px 0 0 -5px;
  }
  30% {
    -webkit-box-shadow: 9999px 0 0 2px;
            box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    -webkit-box-shadow: 9999px 0 0 -5px;
            box-shadow: 9999px 0 0 -5px;
  }
}
@-webkit-keyframes dot-pulse-after {
  0% {
    -webkit-box-shadow: 10014px 0 0 -5px;
            box-shadow: 10014px 0 0 -5px;
  }
  30% {
    -webkit-box-shadow: 10014px 0 0 2px;
            box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    -webkit-box-shadow: 10014px 0 0 -5px;
            box-shadow: 10014px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    -webkit-box-shadow: 10014px 0 0 -5px;
            box-shadow: 10014px 0 0 -5px;
  }
  30% {
    -webkit-box-shadow: 10014px 0 0 2px;
            box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    -webkit-box-shadow: 10014px 0 0 -5px;
            box-shadow: 10014px 0 0 -5px;
  }
}
/* Form styles */
form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form input {
  text-align: center;
  width: 75%;
}
@media only screen and (min-width: 560px) {
  form input {
    width: 40%;
  }
}
form button {
  width: 50%;
  margin-top: 10px;
}
@media only screen and (min-width: 560px) {
  form button {
    width: 20%;
  }
}

/* Global & Wrapper Styles */
html {
  font-family: "Roboto", sans-serif;
  background-color: #FFF;
  color: #000;
  text-align: center;
}

body {
  font-size: 100%;
}
@media only screen and (min-width: 560px) {
  body {
    font-size: 125%;
  }
}

header {
  padding-top: 30px;
}

section {
  height: 100%;
}

a {
  color: #0000EE;
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.changeColor {
  border: 1px solid #000;
  border-radius: 5px;
  background: greenyellow;
  color: #000;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.changeColor:hover,
.changeColor:focus {
  background: #000;
  color: greenyellow;
}

/* 
hot dog colours: 
#C57B27 - bun
#E8AE02 - mustard
#CC2522 - ketchup
#995F4C - dog

*/
/* instructions Section styles */
p {
  padding: 0 15%;
}